* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, serif;
}

html {
    width: 100%;
}

nav {
    position: fixed;
    margin: 10 15% 10 15%;
    width: 100%;
    height: 20px;
    left: 0;
    top: 0px;
    text-align: center;
    font-weight: 700;
    font-size: 20px;
    z-index: 10;
}

nav ul {
    border-bottom: 2px solid white;
    background-color: rgb(60, 138, 138);
    width: 100%;
}

nav li {
    display: inline-block;
    text-align: center;
    padding: 20px 25px;
    margin: 0 auto;
    color: white;
}

body {  
    position: relative;
    margin: 0, auto;
    padding: 0, 5%;
    width: 100%;   
    left: 0;
    top: 65px;
    text-align: center;
    background-color: rgb(47, 107, 107);
    color: white;
}


hr {
    width: 680px;
    margin: 45px auto;

    color: white;
}

section {
    width: 100%;
    margin: 0 auto;
}

h1 {
    margin: 35px auto 35px;
}

h2 {
    margin: 45px auto 35px;
}

img.me {
    display: inline-block;
    margin: 10px 0;
    height: 200px;
    padding: 0 35px 0 35px;
}

td {
    padding: 5px 10px;
}

figcaption {
    font-size: 16px;
}

li {
    font-size: 20px;
}

ul.programs {
    display:block;
    width: 500px;
    margin: 25px auto 35px;
}

ul.programs li{
    text-align: left;
}

ul.reasons {
    display:block;
    width: 500px;
    margin: 30px auto;
}

ul.reasons li {
    text-align: left;
}

p {
    margin: 25px auto 35px;
    width: 760px;   
    text-align: justify;
    line-height: 1.4;
}

table.tSkills {
    margin: 25px auto 35px;
    border: 1px solid white;
    width: 95%;
    min-width: 740px;
    max-width: 740px;
}

.tSkills td {
    border: 1px solid white;
}


.bCard{
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid white;
    background-color: rgb(60, 138, 138);
    width: 740px;
    min-width: 740px;
    font-size: 20px;   
}

.iamT {
    text-align: left;
    padding: 15px 10px 15px 30px;
}

div.images {
    display: block;
    padding-bottom: 35px;
    margin: 0 auto;
    width: 760px;
    min-width: 760px;
}

div.images2 {
    display: block;
    margin: 0 auto 35px;
    width: 760px;
    min-width: 760px;
}

.images .img1 img{
    display: inline-block;
    vertical-align: top;
    
    height: 200px;
    width: 300px;
}

.images .img1 {
    display: inline-block;
    vertical-align: top;
}

.images2 .img1 {
    vertical-align: top;
    height: 200px;
    width: 300px;
}

a:visited{
    color:white;
}

a:link{
	color: white;
}