* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


nav {
    text-align: center;
    margin: 10 15% 10 15%;
    position: fixed;
    z-index: 10;
    width:80%;
    min-width: 760px;
    height: 20px;
    top:0px;
    left: 10%;
}

nav ul {
    border: 1px solid white;
    background-color: rgb(60, 138, 138);
    width: 100%;
}

a:visited{
    color:white;
}

a:link{
	color: white;
}

nav li {
    display: inline-block;
    text-align: center;
    padding: 20px 25px;
    margin: 0 auto;
    color: white;
}

body {
    text-align: center;
    position: relative; 
    top: 80px; 
    width: 80%;
    background-color: rgb(47, 107, 107);
    color: white;
    left: 10%;
}

hr {
    color: white;
}

section {
    width: 100%;
    margin: 0 auto;
}

h1 {
    margin: 35px auto 25px;
}

h2 {
    margin: 35px auto 25px;
}

img.me {
    display: inline-block;
    margin: 10px 0;
    height: 200px;
    padding: 0 35px 0 35px;
}

td {
    padding: 5px 10px;
}

figcaption {
    font-size: 12px;
}

ul.programs {
    display:block;
    width: 500px;
    margin: 30px auto;
}

ul.programs li{
    text-align: left;
}

ul.reasons {
    display:block;
    width: 500px;
    margin: 30px auto;
}

ul.reasons li {
    text-align: left;
}

p {
    text-align: left;
    margin: 25px auto 35px;
    width: 90%;
}

table.tSkills {
    margin: 25px auto 35px;
    border: 1px solid white;
}

.tSkills td {
    border: 1px solid white;
}


.bCard{
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid white;
    background-color: rgb(60, 138, 138);
    width: 760px;
    min-width: 760px;
    font-size: 16px;
    
}

.iamT {
    text-align: left;
    padding: 15px 10px 15px 30px;
}

div.images {
    display: block;
    padding-bottom: 35px;
    margin: 0 auto;
    width: 760px;
    min-width: 760px;
}

div.images2 {
    display: block;
    padding-bottom: 35px;
    margin: 0 auto;
    width: 760px;
    min-width: 760px;
}

.images .img1 img{
    display: inline-block;
    vertical-align: top;
    
    height: 200px;
    width: 300px;
}

.images .img1 {
    display: inline-block;
    
}

.images2 .img1 {
    vertical-align: top;
    height: 200px;
    width: 300px;
}

